body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Bootsrap overrides*/

@font-face {
    font-family: Viga-Regular;
    src: url(../fonts/Viga-Regular.ttf);
}
@font-face {
    font-family: Viga-Regular;
    src: url(../fonts/FiraSansCondensed-Regular.ttf);
}


.navbar-inverse {
    background-color: #2D283E;
    border-color: darkmagenta;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #D1D7E0;
        font-family: Viga-Regular;
        font-size: 18px;
    }
.navbar-inverse .navbar-nav > li > a:hover {
    color: #FFF;
}

    .navbar-inverse .navbar-brand {
        color: #D1D7E0;
        font-family: Viga-Regular;
        font-size: 24px;
        font-weight: bold;
    }

        .navbar-inverse .navbar-brand:hover {
            color: #FFF;
        }

body {
    background-color:#802BB1
}

p, label, h1, h2, h3, h4, h5, h6, td, th, dt {
    color: #D1D7E0;
    font-family: FiraSansCondensed-Regular;
}
a {
    color: #FFF;
  
}

    a:hover {
        color: #FFF;
        text-shadow: 0 0 5px #d9eb8c;
    }

td {
    background-color: #802BB1
}
    td:hover {
        background-color: #9432cc
    }

.form-group {
    margin-bottom: 20px;
}

.form-control:focus {
    border-color: #2D283E;
}

body {
    font-size: 18px;
}

.btn-primary {
    font-size: 18px;
    background-color: #2d283e;
    border-color: #802bb1;
    color: #d1d7e0;
}

.btn-primary:hover {
    font-size: 18px;
    background-color: #000000;
    border-color: #802bb1;
}

.btn-member {
    font-size: 18px;
    background-color: #802bb1;
    border-color: #000000;
    color: #000000;
}
.btn-member:hover {
    font-size: 18px;
    background-color: #66268b;
    border-color: #000000;
    color: #cebaba;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

ul.dropdown-menu > li, ul.dropdown-menu > li>a , ul.dropdown-menu {
    background-color: #2d283e;
    color: #d1d7e0;
}

    ul.dropdown-menu > li:hover, ul.dropdown-menu > li > a:hover {
        background-color: #802bb1;
        color: #d1d7e0;
    }


/*/
    COLOR : 
    #802BB1
    #2D283E
    #D1D7E0
*/