@{
    ViewBag.Title = "Home Page";
}
<h1>@ViewBag.Title</h1>
<h2>Wellcome to RomeoConnect</h2>
@{
                                                            
    if (User.Identity.IsAuthenticated)
    {
        <h3>Timeline</h3>
    }
    else
    {
        <h3>Connect with next boyfriend and let's have fun on RomeConnect. </h3>
    }
}