@model RomeoConnection.ViewModels.GroupViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Join a group !</h2>


    @foreach (var group in Model.Groups )
    {

        <div class="card-example">
            <div class="card card-inverse">
                <div class="card-block">
                    <h3 class="card-title">
                        @group.Title
                    </h3>
                    <p class="card-text">
                         @group.Description
                    </p>
                </div>
                @{
                    if (Model.ShowActions)
                    {
                        <button data-group-id="@group.Id" class="btn btn-primary js-toggle-membership">Join</button>
                        <p class="number">33 de utilizatori s-au inscris deja</p>

                    }
                    else
                    {
                        <span>You must register before joining a group</span>
                    }
                }

            </div>
        </div>

                  
@* //                </li> *@

    }
@* </ul> *@


@section scripts{
    <script>

        $(document).ready(function() {

                $(".js-toggle-membership").click(function(e) {
                    var button = $(e.target);
                    $.post("api/GroupMembers", { groupId : button.attr("data-group-id") })

            .done(function() {
                            button
                                .removeClass("btn-primary")
                                .addClass("btn-member")
                                .text("Joined");
                        })
            .fail(function() {
                alert("Oops! Something failed! Try again");
            });
    });
    });
    </script>
}

