@model RomeoConnection.ViewModels.GroupViewModel
@{
    ViewBag.Title = "MyGroups";
}

<h2>My Groups : </h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Titlu</th>
            <th>Descriere</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.Groups)
        {
            <tr>
                <td>@group.Title</td>
                <td>@group.Description</td>
                <td>
                    @{
                        if (Model.ShowActions)
                        {
                            <button data-group-id="@group.Id" class="btn btn-primary js-toggle-membership">Join</button>
                        }
                        else
                        {
                            <span>You must register before joining a group</span>
                        }
                    }
                </td>

            </tr>
        }
    </tbody>
</table>

